<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="card card-inverse-info">
      <div class="card-body">
        <form class="form-sample">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Skill Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="skillname" [(ngModel)]="skill.skillname" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Price</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="price" [(ngModel)]="skill.price" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Prerequites</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="prerequites" [(ngModel)]="skill.prerequites"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Duration</label>
                <div class="col-sm-9">
                  <input class="form-control" name="duration" [(ngModel)]="skill.duration"/>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row">          
          <div class="col-md-12">
            <div class="form-group">
              <button type="submit" class="btn btn-primary mr-2 pull-right" (click)="submitAdd()"><i class="fa fa-plus"></i> Add</button>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Skills</h4>
        <div class="template-demo">
          <table class="table mb-0">
            <thead>
              <tr>
                <th class="pl-0">Skill</th>
                <th class="pl-0">Duration</th>
                <th class="pl-0">Prerequites</th>
                <th class="pl-0">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let skills of tableDetails">
                <td class="pl-0">{{skills.skillname}}</td>
                <td class="pr-0">{{skills.duration}}</td>
                <td class="pl-0">{{skills.prerequites}}</td>
                <td class="pl-0">{{skills.price}}</td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>