<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Training History </h4>
        <div class="template-demo">
          <table class="table mb-0">
            <thead>
              <tr>
                <th class="pl-0">Skill</th>
                <th class="pl-0">Duration</th>
                <th class="pl-0">Price</th>
                <th class="pl-0">Status</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let skills of historyDetails">
                <td class="pl-0">{{History.skillname}}</td>
                <td class="pr-0">{{History.duration}}</td>
                <td class="pl-0">{{skills.price}}</td>
              </tr> -->
              <tr >
                <td class="pl-0">Angular</td>
                <td class="pr-0">2 Months</td>
                <td class="pl-0">$300</td>
                <td class="pl-0">In Progress</td>
              </tr>
              <tr >
                <td class="pl-0">Core Java</td>
                <td class="pr-0">3 Months</td>
                <td class="pl-0">$400</td>
                <td class="pl-0">In Progress</td>
              </tr>
              <tr >
                <td class="pl-0">Node JS</td>
                <td class="pr-0">2 Months</td>
                <td class="pl-0">$250</td>
                <td class="pl-0">Completed</td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>