<div class="row">
  <div class="col-md-12 d-flex align-items-stretch">
    <div class="row flex-grow">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Login</h4>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon bg-info bg-info" id="colored-addon1">
                  <i class="fa fa-user-circle text-white"></i>
                </span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="colored-addon1">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon bg-primary border-primary" id="colored-addon2">
                  <i class="fa fa-keyboard-o text-white"></i>
                </span>
                <input type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="colored-addon2">
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success mr-2" style="float:right;"><i class="fa fa-sign-in"></i> Login</button>
              <a href="#"class="nav-link" routerLink="/register" routerLinkActive="active" style="float:right;">
                <i class="fa fa-id-card-o"></i> Register
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>