<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item" style="margin-top:80px">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/search" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Search Trainings</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/currentTrainings" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Current Trainings</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/completedTrainings" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Completed Trainings</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/skills" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Skills</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/maintainTrainings" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Maintain Trainings</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/trainingHistory" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Trainings History</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/accounts" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Accounts</span>
      </a>
    </li><li class="nav-item">
      <a class="nav-link" routerLink="/technologies" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Technologies</span>
      </a>
    </li>
  </ul>
</nav>
